.root {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    border-radius: 20px;
    padding: 20px;
}

.input {
    margin-bottom: 10px;
}

.submitButton {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: bisque;
    padding: 5px 15px;
}

.submitButton:hover {
    cursor: pointer;
}