html, body {
  padding: 0;
  margin: 0;
}

html, html[data-theme='light'] {
  --header-background-color: #1f5ac7;
  --header-text-color: #ffffff;

  --main-background-color: #ffffff;
  --main-text-color: #000536;

  --footer-background-color: #1f5ac7;
  --footer-text-color: #ffffff;
}

html[data-theme='dark'] {
  --header-background-color: #06193d;
  --header-text-color: #c5c5c5;

  --main-background-color: #393939;
  --main-text-color: #c5c5c5;

  --footer-background-color: #06193d;
  --footer-text-color: #c5c5c5;
}