.root {
    padding: 10px 30px;
    display: flex;
    justify-content: right;
    background-color: var(--header-background-color);
    background-color: var(--header-text-color);
    position: fixed;
    top: 0;
    width: calc(100% - 60px);
    min-height:40px;
}

.button {
    margin-right: 10px;
}

.button:last-of-type {
    margin-right: 0;
}